{{- $prefix := "/tyfnacici" -}}
<link rel="icon" href="{{ $prefix }}{{ site.Params.assets.favicon | default "/assets/favicon.ico" }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ $prefix }}{{ site.Params.assets.favicon16x16 | default "/assets/favicon-16x16.png" }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ $prefix }}{{ site.Params.assets.favicon32x32 | default "/assets/favicon-32x32.png" }}" />
<link rel="apple-touch-icon" href="{{ $prefix }}{{ site.Params.assets.apple_touch_icon | default "/assets/apple-touch-icon.png" }}" />
<link rel="mask-icon" href="{{ $prefix }}{{ site.Params.assets.safari_pinned_tab | default "/assets/safari-pinned-tab.svg" }}" color="#2e2e33">
<meta name="theme-color" content="#2e2e33">
<meta name="msapplication-TileColor" content="#2e2e33">
